*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgba(63, 176, 228, 0.459);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width:350px;
    width: 100%;
    max-height: 550px;
    background: white;
    border-radius:5px;
    padding: 10px;
    border:1px solid black;
    box-shadow: 2px 2px 3px 2px  rgba(63, 176, 228, 0.459);
}
.container h2{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.container form .input input[type="text"],input[type="password"],input[type="submit"] {

    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10%;    
    outline: none;
    border:1px solid  rgb(48, 109, 138);
    font-size: 16px;
    border-radius: 2px;
}
.signin_link p{
    font-size: 14px;
    text-align: center;
}
.signin_link a{
    font-size:16px;
    text-decoration: none;
    color: blue;
}
.signin_link a:hover{
    font-size:16px;
    text-decoration: none;
    color: rgb(185, 65, 149);
}
.container form .input input[type="text"]:hover,input[type="password"]:hover,input[type="submit"]:hover{
   border: 2px solid rgba(63, 176, 228, 0.459);
   box-shadow: 1px 1px 1px   rgba(63, 176, 228, 0.459);
   transition: 0.5s ease;
}
.box .header h1{
    text-align: center;
    background: rgb(105, 193, 199);
    color: white;
    padding: 20px;
    letter-spacing: 5px;
}
.content marquee{
    padding: 10px;
    font-size: 22px;
}
.videos h2{
    text-align: center;
    letter-spacing: 2px;
}
.videos iframe {
    padding: 10px;
    max-width: 360px;
    width: 100%;
    height: 215px;
    margin-left: 10px;

}
